*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    text-align: center;
}

/* Instruction Menu */
header{
    height: 40px;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    height: 40px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 25px;
  }
  
  .active, .collapsible:hover {
    background-color: #ccc;
  }

  .collapsible:after {
    content: '\02795';
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796";
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #eee;
    opacity: 1;
    font-size: 90%;
  }

  .content ul{
    list-style-type: none;
  }

/* player area */
#players{
    position: relative;
    margin-top: 5px;
    width: 100%;
    height: 100px;
    z-index: -1;
}

.player1{
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 4px;
}

.player2{
    text-decoration: underline;
    text-decoration-color: yellow;
    text-decoration-thickness: 4px;
}

/* game area styling */
#game-area{
    position: relative;
    margin-bottom: 0px;
    width: 100%;
    height: 620px;

}

.game-container{
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    width: 650px;
    height: 600px;
    background: rgb(87, 168, 255);
    border: 2px solid black;
    padding: 1.5rem;
    box-shadow: 5px 10px #888888;
}

.game-slot{
    width: 90px;
    height: 90px;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}

/* button area styling */
#play-buttons{
    position: relative;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 50px;
    width: 100%;
}

.reset-game{
    position: absolute;
    left: 50%;
    transform: translate(-125%);
    width: 10rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 25%;
    cursor: pointer;
    background: yellow;
}

.reset-game h2{
    color: black;
    text-align: center;
}

.reset-game:hover{
    transition: 0.8s;
    box-shadow: 2px 4px #888888;
}

.play-again{
    position: absolute;
    left: 50%;
    transform: translate(25%);
    width: 10rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 25%;
    cursor: pointer;
    background: green;
}
    
.play-again h2{
    color: white;
    text-align: center;
}
    
.play-again:hover{
    transition: 0.8s;
    box-shadow: 2px 4px #888888;
}

/* Media queries */

@media (max-width: 704px){

    /* Style the button that is used to open and close the collapsible content */
    .collapsible {
        height: 35px;
        font-size: 15px;
    }

    /* Style the collapsible content*/
    .content {
        font-size: 75%;
        }

    /* player area */
    #players{
        height: 105px;
        font-size: 85%;
    }
    /* game area styling */
    #game-area{
        width: 100%;
        height: 380px;
    }

    .game-container{
        width: 412px;
        height: 380px;
        padding: 1rem;
    }

    .game-slot{
        width: 55px;
        height: 55px;
    }

    /* Button area styling */
    #play-buttons{
        margin-top: 20px;
        height: 40px;
    }
    
    .reset-game{
        width: 7rem;
    }
    
    .reset-game h2{
        font-size: 85%;
    }
    
    .play-again{
        width: 7rem;
    }
        
    .play-again h2{
        font-size: 85%;
    }
}

@media (max-width: 414px){
    /* Instruction Menu */
    header{
        height: 30px;
    }

    /* Style the button that is used to open and close the collapsible content */
    .collapsible {
        height: 30px;
        font-size: 15px;
    }
  
    /* Style the collapsible content*/
    .content {
    font-size: 68%;
    }

    /* player area */
    #players{
    height: 110px;
    font-size: 75%;
    }

    /* game area styling */
    #game-area{
        width: 100%;
        height: 258px;
    }

    .game-container{
        width: 280px;
        height: 258px;
        padding: 0.8rem;
    }

    .game-slot{
        width: 35px;
        height: 35px;
    }

    /* Button area styling */
    #play-buttons{
        margin-top: 20px;
        height: 30px;
    }
    
    .reset-game{
        width: 6.5rem;
    }
    
    .reset-game h2{
        font-size: 80%;
    }
    
    .play-again{
        width: 6.5rem;
    }
        
    .play-again h2{
        font-size: 80%;
    }
}