*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    text-align: center;
}

/* Instruction Menu */
header{
    height: 30px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    height: 30px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }

  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

/* player area */
#players{
    position: relative;
    margin-top: 5px;
    width: 100%;
    height: 105px;
}

.text-area{
    position: absolute;
    width: 100%;
    height: 90px;
    padding: 0.2rem;
}

.text-area h1{
    text-align: center;
    color: black;
}

/* game area styling */
#game-area{
    position: relative;
    margin-bottom: 0px;
    width: 100%;
    height: 620px;

}

.game-container{
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    width: 650px;
    height: 600px;
    background: rgb(87, 168, 255);
    border: 2px solid black;
    padding: 1.5rem;
    box-shadow: 5px 10px #888888;
}

.game-slot{
    width: 90px;
    height: 90px;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}

/* button area styling */
#play-buttons{
    position: relative;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 50px;
    width: 100%;
}

.reset-game{
    position: absolute;
    /*top: 100vh;*/
    left: 50%;
    transform: translate(-125%);
    width: 10rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 25%;
    cursor: pointer;
    background: yellow;
}

.reset-game h2{
    color: black;
    text-align: center;
}

.reset-game:hover{
    transition: 0.8s;
    box-shadow: 2px 4px #888888;
}

.play-again{
    position: absolute;
    /*top: 95vh;*/
    left: 50%;
    transform: translate(25%);
    width: 10rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 25%;
    cursor: pointer;
    background: green;
}
    
.play-again h2{
    color: white;
    text-align: center;
}
    
.play-again:hover{
    transition: 0.8s;
    box-shadow: 2px 4px #888888;
}

/* Media queries */

@media (max-width: 414px){
    .game-container{
        width: 325px;
        height: 300px;
        border: 1px solid black;
        box-shadow: 2.5px 5px #888888;
        padding: 0.2rem;
    }

    .game-slot{
        width: 45px;
        height: 45px;
        border: 0.5px solid black;
    }

    .text-area h1 {
        font-size: 20px;
    }
    .text-area h3 {
        font-size: 15px;
    }
    .text-area h4 {
        font-size: 10px;
    }

    .reset-game{
        top: 70vh;
        transform: translate(-125%);
        width: 8rem;
        border: 0.5px solid black;
    }
    
    .reset-game h2{
        font-size: 18px;
    }

    .play-again{
        top: 70vh;
        transform: translate(25%);
        width: 8rem;
        border: 0.5px solid black;
    }
    
    .play-again h2{
        font-size: 18px;
    }
}

@media (max-width: 700px){
    .game-container{
        width: 384px;
        height: 360px;
        border: 1.25px solid black;
        box-shadow: 2.5px 5px #888888;
        padding: 0.2rem;
    }

    .game-slot{
        width: 54px;
        height: 54px;
        border: 0.5px solid black;
    }

    .text-area h1 {
        font-size: 24px;
    }
    .text-area h3 {
        font-size: 18px;
    }
    .text-area h4 {
        font-size: 12px;
    }

    .reset-game{
        top: 78vh;
        transform: translate(-125%);
        width: 8.5rem;
        border: 0.5px solid black;
    }
    
    .reset-game h2{
        font-size: 20px;
    }

    .play-again{
        top: 78vh;
        transform: translate(25%);
        width: 8.5rem;
        border: 0.5px solid black;
    }
    
    .play-again h2{
        font-size: 20px;
    }

}