*{
    margin: 0;
    margin-top: 0.5rem;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    text-align: center;
}

.text-area{
    position: absolute;
    width: 100%;
    height: 90px;
    top: 0.1rem;
}

.text-area h1{
    text-align: center;
    color: black;
}

.game-container{
    position: absolute;
    top: 8.5rem;
    left: 50%;
    transform: translate(-50%);
    width: 650px;
    height: 600px;
    background: rgb(87, 168, 255);
    border: 2px solid black;
    padding: 1.5rem;
    box-shadow: 5px 10px #888888;
}

.game-slot{
    width: 90px;
    height: 90px;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.reset-game{
    position: absolute;
    top: 92vh;
    left: 50%;
    transform: translate(-125%);
    width: 10rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 25%;
    cursor: pointer;
    background: yellow;
}

.reset-game h2{
    color: black;
    text-align: center;
}

.reset-game:hover{
    transition: 0.8s;
    box-shadow: 2px 4px #888888;
}

.play-again{
    position: absolute;
    top: 92vh;
    left: 50%;
    transform: translate(25%);
    width: 10rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 25%;
    cursor: pointer;
    background: green;
}
    
.play-again h2{
    color: white;
    text-align: center;
}
    
.play-again:hover{
    transition: 0.8s;
    box-shadow: 2px 4px #888888;
}

/* Media queries */

@media (max-width: 414px){
    .game-container{
        width: 325px;
        height: 300px;
        border: 1px solid black;
        box-shadow: 2.5px 5px #888888;
        padding: 0.2rem;
    }

    .game-slot{
        width: 45px;
        height: 45px;
        border: 0.5px solid black;
    }

    .text-area h1 {
        font-size: 20px;
    }
    .text-area h3 {
        font-size: 15px;
    }
    .text-area h4 {
        font-size: 10px;
    }

    .reset-game{
        top: 70vh;
        transform: translate(-125%);
        width: 8rem;
        border: 0.5px solid black;
    }
    
    .reset-game h2{
        font-size: 18px;
    }

    .play-again{
        top: 70vh;
        transform: translate(25%);
        width: 8rem;
        border: 0.5px solid black;
    }
    
    .play-again h2{
        font-size: 18px;
    }
}

@media (max-width: 700px){
    .game-container{
        width: 384px;
        height: 360px;
        border: 1.25px solid black;
        box-shadow: 2.5px 5px #888888;
        padding: 0.2rem;
    }

    .game-slot{
        width: 54px;
        height: 54px;
        border: 0.5px solid black;
    }

    .text-area h1 {
        font-size: 24px;
    }
    .text-area h3 {
        font-size: 18px;
    }
    .text-area h4 {
        font-size: 12px;
    }

    .reset-game{
        top: 78vh;
        transform: translate(-125%);
        width: 8.5rem;
        border: 0.5px solid black;
    }
    
    .reset-game h2{
        font-size: 20px;
    }

    .play-again{
        top: 78vh;
        transform: translate(25%);
        width: 8.5rem;
        border: 0.5px solid black;
    }
    
    .play-again h2{
        font-size: 20px;
    }

}